* {
    margin :0px;
    padding: 0px;

}
body {
    font-size:120%;
    background: #fffeff;
}
.header {
    width:30%;
    margin: 70px auto 0px;
    color:white;
    background:  rgb(233, 165, 229);
    text-align: center;
    border: 1px solid #e8a8ee;
    border-radius: 10px 10px 0px 0px;
    padding:20px;
}

form {
    width:30%;
    margin:0px auto;
    padding:20px;
    border: 1px solid rgb(233, 165, 229);
    background:white;
    border-radius: 0px 0px 10px 10px;
}
.input-form{
    margin:10px 0px 10px 0px;
}
.input-form input {
height:30px;
width:93%;
padding:5px 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid gray;
}

.login {
        border-radius: 100px;
        box-shadow: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        white-space: nowrap;
    }